<div id="books">
    <% posts.forEach(function(post, index){ %>
    <% if((index + 1) % 8 == 0){ %>
    <div class="book book-right <% if (post.content.length != 0 ){ %>
        book-post" _href="<%- partial('_widget/url', {post: post}) %>
    <% } %>" style="background-image: url('<%= config.book_img_path %><%= post.cover %>')">
    </div>
    <% } else if((index + 1) % 4 == 0){ %>
      <div class="book book-right-4 <% if (post.content.length != 0 ){ %>
          book-post" _href="<%- partial('_widget/url', {post: post}) %>
      <% } %>" style="background-image: url('<%= config.book_img_path %><%= post.cover %>')">
      </div>
    <% } else { %>
    <div class="book <% if (post.content.length != 0 ){ %>
        book-post" _href="<%- partial('_widget/url', {post: post}) %>
    <% } %>" style="background-image: url('<%= config.book_img_path %><%= post.cover %>')">
    </div>
    <% } %>
    <% }) %>
    <div class="clear"></div>
</div>

<% if(page.total > 1){ %>
<div id="footer-page">
    <%- paginator({prev_next: false}) %>
</div>
<% } %>
