<div id="contents">
    <section id="content">
        <% posts.forEach(function(post, index){ %>
        <article class="post">
            <header>
                <h2><a href="<%- partial('_widget/url', {post: post}) %>"
                       title="<%= post.title %>"><%= post.title %></a></h2>
            </header>
            <div class="con">
                <p>
                    <%- strip_html(post.excerpt) %>
                    <a class="more" href="<%- partial('_widget/url', {post: post}) %>">[继续阅读]</a>
                </p>
            </div>
            <div class="meta">
                <% if (post.showDate != null && post.showDate != ""){ %>
                    <i class="fa fa-arrow-up">&nbsp;置顶</i>
                <% }%>
                <i class="fa fa-sun-o">&nbsp;<%- partial("_widget/date", {post: post}) %></i>
                <% if (post.original){ %>
                    <i class="fa fa-flag-o">&nbsp;原创</i>
                <% }%>
                <% if (post.tag != null && post.tag != "" && post.tag.length > 0){ %>
                    <i class="fa fa-tags">&nbsp;[
                        <% post.tag.forEach(function (one) { %>
                            <a href="/tags/<%- one[1] %>/"><%- one[0] %></a>
                        <% }) %>]
                    </i>
                <% }%>
            </div>

        </article>
        <% }) %>
    </section>
    <div class="clear"></div>
</div>

<% if(page.total > 1){ %>
<div id="footer-page">
    <%- paginator({prev_next: false}) %>
</div>
<% } %>
