<% if (url == null || url == ""){ %>
    <% if (color == null || color == ""){ %>
      <div id="big-title" style="color: #666">
    <% }else { %>
      <div id="big-title" style="color:<%= color %>">
    <% } %>
<% }else { %>
  <% if (color == null || color == ""){ %>
    <div id="big-title" style="background-image:url(/img/<%= url %>);color: #ccc">
  <% }else { %>
    <div id="big-title" style="background-image:url(/img/<%= url %>); color:<%= color %>">
  <% } %>
<% } %>
  <div id="title-name"><%= title %></div><br>
  <div id="something"><%= other %></div>
  <!-- <ul id="link">
    <li id="info-mail" title="<%= config.author.email %>"><i class="fa fa-envelope" aria-hidden="true"></i></li>
    <li id="info-github" _href="<%= config.author.github %>"><i class="fa fa-github fa-lg" aria-hidden="true"></i></li>
    <li id="info-wechat" title="<%= config.author.phone %>"><i class="fa fa-weixin" aria-hidden="true"></i></li>
  </ul> -->
</div>