<% if (url == null || url == ""){ %>
    <% if (color == null || color == ""){ %>
      <div id="big-title" style="color: #666">
    <% }else { %>
      <div id="big-title" style="color:<%= color %>">
    <% } %>
<% }else { %>
  <% if (color == null || color == ""){ %>
    <div id="big-title" style="background-image:url(/img/<%= url %>);color: #ccc">
  <% }else { %>
    <div id="big-title" style="background-image:url(/img/<%= url %>); color:<%= color %>">
  <% } %>
<% } %>
  <div id="title-name"><%= title %></div><br>
  <div id="something"><%= other %></div>
</div>